{include file="common:head"}
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">

  {include file="common:header"}
  <!-- Left side column. contains the logo and sidebar -->
 
{include file="common:navbar"}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        设置
        <small>基本设置</small>
      </h1>
      <ol class="breadcrumb">
       <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="{:url('admin/config/edit')}">设置</a></li>
        <li class="active">基本设置</li>
      </ol>
    </section>

    <!-- Main content -->
      <!-- form start -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
           <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">基本设置</h3>
              <!-- <a type="button" href="{:url('add')}" class="btn btn-primary pull-right">新 增</a> -->
            </div>
            <div class="tab-content">
              <!-- Font Awesome Icons -->
              <form  method="post" action="" id='form1'>
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">网站标题 </label>
                  <input type="text" class="form-control" id="title" name="web_site_title" value="{$list['web_site_title']}" placeholder="网站标题前台显示标题" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">网站公告</label>
                  <input type="text" class="form-control" id="gonggao" value="{$list['web_gonggao']}" name="web_gonggao" placeholder="设置公告" />
                </div>
                <label for="exampleInputEmail1">网站首页图片 </label>
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"> 
                  </button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <div class="box-body">
                  <div id="uploader-demo">
                      <!--用来存放item-->
                      <input type="hidden" name="web_logo_cover_path" value="{$list['web_logo_cover_path']}" class="cover_path">
                      <div id="cover_path" class="uploader-list">
                        <div class="file-item thumbnail upload-state-done">
                          {notempty name="list.web_logo_cover_path"}
                          <img src="ROOT_PATH{$list.web_logo_cover_path}" width="120" height="120">
                          {/notempty}
                        </div>
                      </div>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <div class="insertCover">添加图片</div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">网站首页图片跳转地址</label>
                  <input type="text" class="form-control" id="sy_tzurl" value="{$list['web_sy_tzurl']}" name="web_sy_tzurl" placeholder="网站首页图片跳转地址" />
                </div>
              
                <div class="form-group">
                  <label for="exampleInputPassword1">(业务员)会员直推奖励（元）</label>
                  <input type="text" class="form-control" id="user_ztmoney" value="{$list['web_user_ztmoney']}" name="web_user_ztmoney" placeholder="设置会员直推奖励金额" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">(业务员)C层升B(经销商)层奖励（元）</label>
                  <input type="text" class="form-control" id="user_scmoney1" value="{$list['web_user_scmoney1']}" name="web_user_scmoney1" placeholder="C层升B层奖励金额" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">(经销商)B层升A(代理商)层奖励（元）</label>
                  <input type="text" class="form-control" id="user_scmoney2" value="{$list['web_user_scmoney2']}" name="web_user_scmoney2" placeholder="B层升A层奖励金额" />
                </div>
              
                <div class="form-group">
                  <label for="exampleInputPassword1">直推5人,同等级升级经销商</label>
                  <input type="text" class="form-control" id="fanli_1" value="{$list['web_fanli_1']}" name="web_fanli_1" placeholder="直推5人,钻石区分红比例" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">直推10人,同等级升级代理商</label>
                  <input type="text" class="form-control" id="fanli_2" value="{$list['web_fanli_2']}" name="web_fanli_2" placeholder="直推10人,钻石区分红比例" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">间推经销商95元</label>
                  <input type="text" class="form-control" id="fanli_3" value="{$list['web_fanli_3']}" name="web_fanli_3" placeholder="直推20人,钻石区分红比例" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">间推代理商140元</label>
                  <input type="text" class="form-control" id="fanli_4" value="{$list['web_fanli_4']}" name="web_fanli_4" placeholder="直推30人,钻石区分红比例" />
                </div>

                <!-- <div class="form-group">
                  <label for="exampleInputPassword1">激活赠底分</label>
                  <input type="text" class="form-control" id="jihuo_df" value="{$list['web_jihuo_df']}" name="web_jihuo_df" placeholder="设置1为开启0为关闭" />
                </div> -->
                <div class="form-group">
                  <label for="exampleInputPassword1">提现最小（元）</label>
                  <input type="text" class="form-control" id="tixian_zx" value="{$list['web_tixian_zx']}" name="web_tixian_zx" placeholder="设置提现最小金额" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">提现手续费（百分比）</label>
                  <input type="text" class="form-control" id="tixian_sf" value="{$list['web_tixian_sf']}" name="web_tixian_sf" placeholder="设置提现手续费" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">提现需直推几人（人）</label>
                  <input type="text" class="form-control" id="tixian_zt" value="{$list['web_tixian_zt']}" name="web_tixian_zt" placeholder="设置提现需直推几人" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">积分单位</label>
                  <input type="text" class="form-control" id="score_danwei" value="{$list['web_score_danwei']}" name="web_score_danwei" placeholder="设置积分单位 如：分" />
                </div>  

                <div class="form-group">
                  <label for="exampleInputPassword1">积分名称</label>
                  <input type="text" class="form-control" id="score_name" value="{$list['web_score_name']}" name="web_score_name" placeholder="设置积分名称 如：信用分" />
                </div>              
              <!-- <div class="form-group">
              <label for="exampleInputPassword1">转盘奖项设置</label>
                  <script type="text/plain" id="editor" name="web_lucky_jxsz" style="height:200px;">{$list['web_lucky_jxsz']}</script>
              </div>
              <div class="form-group">
              <label for="exampleInputPassword1">转盘活动说明</label>
                  <script type="text/plain" id="editor1" name="web_lucky_hdsm" style="height:200px;">{$list['web_lucky_hdsm']}</script>
              </div> -->
              <div class="pull-right">
                <button class="btn btn-success" onclick="javascript:history.back(-1);return false;">返 回</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" onclick="submitInfo()" class="btn btn-primary">确 定</button>
              </div>
            </form>
                
              </div>
              <!-- /#fa-icons -->

            </div>
            <!-- /.tab-content -->
          </div>
          </div>
          <!-- /.nav-tabs-custom -->
          </section>
           </div>
 
  <!-- /.content-wrapper -->
  {include file="common:footer"}



  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>
<script type="text/javascript">
  var uploadPictuer     = '{:url('Upload/uploadPicture')}';
  var uploadFlash       = 'STATIC_PATH/plugins/webuploader/dist/Uploader.swf';
  var ueditorUploadPath = '{:url('ueditor/index')}';
</script>
<!-- Page Script -->
<script type="text/javascript" charset="utf-8" src="STATIC_PATH/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="STATIC_PATH/plugins/ueditor/ueditor.all.min.js"> </script>
<link rel="stylesheet" type="text/css" href="STATIC_PATH/plugins/webuploader/css/webuploader.css" />
<script type="text/javascript" src="STATIC_PATH/plugins/webuploader/dist/webuploader.js"></script>
<script type="text/javascript" src="STATIC_PATH/plugins/webuploader/dist/onefile.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
  function submitInfo(){
 
    $.ajax({
      type: "POST",
      cache: true,
      url: "{:url('admin/config/edit')}",
      data: $('#form1').serialize(),
      dataType: "json",
      async: false,
      success: function(data) {
        if (data.code) {
          msgok(data.msg);
          location.reload();                  
        } else {
          msgerr(data.msg);
        }
      },
      error: function(request) {
        msgerr("页面错误");
      }
    });
  }
</script>
 
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        msginfo(arr.join("\n"));
    }
    var ue = UE.getEditor('editor1');
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        msginfo(arr.join("\n"));
    }
</script>
</body>
</html>






